/* REGOLE GENERALI  */
body {

}

section {

}

h1, h2, h3, h4 {

}

img {
  display: inline-block;
  width: 100%;
}

a:hover {
  text-decoration: none;
}
/* FINE REGOLE GENERALI  */

/* HEADER */
/* Navbar fixed */
.ms_nav-menu {
  background-color: white;
  font-weight: bold;
  padding: 15px;
}

.ms_nav-menu .ms_logo {
  width: 200px;
}

.ms_menu {
  text-align: right;
  margin: 0;
}

.ms_menu li {
  line-height: 36px;
}

.ms_menu li a {
  color: #0f2e5b;
}

.ms_menu .ms_btn {
  color: #0087ff;
  background: none;
  border: 1px solid #0087ff;
  border-radius: 5px;
  padding: 8px;
}

.ms_nav-menu .ms_burger {
  width: 100%;
  text-align: right;
  font-size: 25px;
}
/* Fine Navbar fixed */
/* FINE HEADER */



/* MAIN */

/* jumbotron */

/* fine jumbotron */

/* FINE MAIN */

/* FOOTER */

/* FINE FOOTER */
