/* ________ REGOLE GENERALI ________*/
body {
  padding-top: 67px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

section {
  padding: 50px 0;
  text-align: center;
}
.ms_first-section {
  background-color: #f3f5f9;
}
.ms_second-section .row {
  text-align: left;
}
.ms_second-section img {
  width: 40px;
  margin: 15px 0;
}
.ms_third-section {
  background: linear-gradient(to top, #00209a 0%, #0048c6 100%);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
h2 {
  text-align: center;
}
.ms_text-dark {
  color: #0f1b4e;
}
.ms_text-white {
  color: white;
}

p {
  color: #6a7a96;
}
.container > p {
  font-size: 20px;
  font-weight: 500;
}
.ms_title p {
  font-size: 1.5em;
}

ul {
  list-style-type: none;
  padding: 0;
}

a:hover {
  text-decoration: none;
}
/* ________ FINE REGOLE GENERALI ________*/

/* ________ HEADER ________ */
/* Navbar fixed */
.ms_nav-menu {
  background-color: white;
  font-weight: bold;
  padding: 15px;
}

.ms_nav-menu .ms_logo img {
  width: 200px;
}

.ms_menu {
  text-align: right;
  margin: 0;
}

.ms_menu li {
  line-height: 36px;
}

.ms_menu li a {
  color: #0f2e5b;
}

.ms_menu .ms_btn {
  color: #0087ff;
  background: none;
  border: 1px solid #0087ff;
  border-radius: 5px;
  padding: 8px;
}

.ms_nav-menu .ms_burger {
  width: 100%;
  text-align: right;
  font-size: 25px;
}
/* Fine Navbar fixed */

/* Jumbotron */
header .ms_wrapper {
  background-image: url(../img/bg-home-1-d54581d7.jpg);
  padding: 50px 0;
}

header .ms_wrapper .ms_title p {
  color: #aec9ff;
}

header .ms_wrapper .ms_account {
  background-color: white;
  border-radius: 5px;
  padding: 20px 15px;
}

header .ms_wrapper .ms_account h2.ms_text-color {
  color: #137eff;
}

header .ms_wrapper .ms_account .ms_create input {
  width: 100%;
  margin: 5px 0;
}

header .ms_wrapper .ms_account .ms_btn {
  font-weight: bold;
  position: relative;
}

header .ms_wrapper .ms_account .ms_btn:nth-of-type(2) {
  color: #444444;
  text-align: left;
}

header .ms_wrapper .ms_account .ms_btn:nth-of-type(2) img {
  width: 20px;
}


header .ms_wrapper .ms_account .ms_btn:nth-of-type(2) span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header .ms_wrapper .ms_account p {
  text-align: center;
  margin-top: 10px;
  font-size: 12px;
}

header .ms_wrapper .ms_account p a {
  text-decoration: underline;
}
/* Fine Jumbotron */
/* ________ FINE HEADER ________ */

/* ________ MAIN ________ */
/* Customer */
.ms_customer h4 {
  color: #6a7a96;
}

.ms_customer li {
  width: calc(100%/6);
  margin-right: -10px;
  padding: 20px;
}

.ms_customer img {
  width: 100%;
}

/* Fine Customer */

/* Deploy */
.ms_deploy .ms_title p {
  margin-bottom: 50px;
}

.ms_deploy .ms_ul-deploy {
  padding-left: 0;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 2.5;
}

.ms_deploy .ms_ul-deploy li {
  padding: 0 20px;
  border-left: 2px solid lightgrey;
}

.ms_deploy .ms_ul-deploy li:hover {
  border-left: 2px solid blue;
}

.ms_deploy .ms_ul-deploy li a{
  color: #74829b;
}
/* Fine Deploy */

/* Designed */ /* Development */
.ms_first-section .ms_angle {
  line-height: 6;
  margin: 0;
  padding: 0;
  font-size: 50px;
}

.ms_first-section .ms_angle .fa-angle-left  {
  color: rgba(15, 27, 78, 0.5);
  margin-right: -50px;
}

.ms_first-section .ms_angle .fa-angle-right  {
  margin-left: -50px;
}

.ms_first-section  img {
  margin-bottom: 20px;
}

.ms_first-section .ms_little-ball {
  margin-top: 50px;
}

.ms_first-section li.hosonno {
  content: "";
  height: 12px;
  border: 1px solid #0068ff;
  border-radius: 50%;
}

.ms_first-section li.hosonno:first-child {
  background-color: #0068ff;
}

/* designed */
.ms_designed .ms_scroll {
  margin-top: 150px;
}

.ms_designed .ms_scroll img {
  width: 100%;
}
/* fine designed */

/* development */
.ms_development .ms_angle {
  line-height: 11;
}

.ms_development .ms_rockerbox {
  background-color: white;
  padding: 40px 0;
  margin-top: 100px;
}

.ms_development .ms_rockerbox img {
  width: 300px;
}

.ms_development .ms_rockerbox p:first-of-type {
  font-size: 20px;
}

.ms_development .ms_rockerbox a {
  margin-top: 30px;
}
/* fine development */
/* Fine Designed */ /* Fine Development */

/* Region */
.ms_region p,
.ms_region a {
  color: #a0b7e3;
  margin-top: 10px;
}

.ms_region p.ms_text-white {
  color: white;
}

.ms_region .row.ms_border-bottom {
  border-bottom: 1px solid white;
  margin: 1px;
}

.ms_region .row.ms_border-bottom:first-of-type {
  margin-top: 20px;
}

.ms_region .row.ms_border-bottom:last-of-type {
  border: none;
}
/* Fine Region */

/* Started */
.ms_started .ms_btn {
  font-weight: 500;
  color: #0068ff;
  width: 200px;
  margin: 0 auto;
  border-radius: 5px;
  margin-top: 30px;
}
/* Fine Started */
/* ________ FINE MAIN ________ */

/* ________ FOOTER ________ */
footer {
  background-color: #002150;
  padding: 50px 0;
  font-size: 16px;
}

footer img {
  margin-bottom: 10px;;
}

footer i {
  font-size: 25px;
}

footer p:first-of-type,
footer a {
  color: #a2acbc;
}

footer a:hover {
  color: white;
}

footer ul li {
  line-height: 1.8;
}
/* ________ FINE FOOTER ________ */

@media screen and (max-width: 991px) {
  /* Customer */
  .ms_customer li {
    width: calc(100%/3);
    margin-right: 50px;
    margin-top: 20px;
    padding: 0;
  }

  .ms_customer li:nth-of-type(2n+2) {
    margin-left: 50px;
    margin-right: 0;
  }
  /* Fine Customer */
}

@media screen and (min-width: 992px) {
  /* Jumbotron */
  header .ms_wrapper .ms_title h1 {
    font-size: 3.5em;
  }

  header .ms_wrapper .ms_title p {
    font-size: 1.7em;
  }

  header .ms_wrapper .ms_account {
    margin-left: 20px;
  }
  /* Fine Jumbotron */

}

@media screen and (min-width: 1200px) {
  /* Jumbotron */
  header .ms_wrapper .ms_title h1 {
    font-size: 4.5em;
  }

  header .ms_wrapper .ms_account {
    margin-left: 30px;
  }
  /* Fine Jumbotron */

  /* Designed */  /* Development */
  .ms_first-section .ms_angle {
    line-height: 7;
    margin: 0;
    padding: 0;
    font-size: 50px;
  }

  .ms_development .ms_angle {
    line-height: 10.5;
  }
  /* Fine Designed */ /* Fine Development */


}
