/* ________ MEDIA QUERY ________ */
@media screen and (max-width: 991px) {
  /* Customer */
  .ms_customer li {
    width: calc(100%/3);
    margin-right: 50px;
    margin-top: 20px;
    padding: 0;
  }

  .ms_customer li:nth-of-type(2n+2) {
    margin-left: 50px;
    margin-right: 0;
  }
  /* Fine Customer */
}

@media screen and (min-width: 992px) {
  /* Jumbotron */
  header .ms_wrapper .ms_title h1 {
    font-size: 3.5em;
  }

  header .ms_wrapper .ms_title p {
    font-size: 1.7em;
  }

  header .ms_wrapper .ms_account {
    margin-left: 20px;
  }
  /* Fine Jumbotron */
}

@media screen and (min-width: 1200px) {
  /* Jumbotron */
  header .ms_wrapper .ms_title h1 {
    font-size: 4.5em;
  }

  header .ms_wrapper .ms_account {
    margin-left: 30px;
  }
  /* Fine Jumbotron */

  /* Designed */  /* Development */
  .ms_first-section .ms_angle {
    line-height: 7;
    margin: 0;
    padding: 0;
    font-size: 50px;
  }

  .ms_development .ms_angle {
    line-height: 10.5;
  }
  /* Fine Designed */ /* Fine Development */
}
/* ________ FINE MEDIA QUERY ________ */
